<a href="https://colab.research.google.com/github/kellisfm/100_days_of_code_challange/blob/master/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##handling missing data with pandas
Mostly simple to identify and fix missing or null values,
can get trickier to identify silly but not invalid values. Where do you draw the line?

Key pandas functions:
pd.isnull(np.nan) ####this is the better one

pd.isna

pd.notnull(data).sum() tells you how many null values you have, same as R

series.dropna() is a quick way to drop missing nums

series.fillna(filler) a quick way to replace them

series.value_counts() gives all values in a column and their number of entries, useful for limited value columns

series.duplicates() returns T/F for if a value has multiple entry, supplimented by drop_duplicates()



##reading data with pandas

ccan use read_basicallyanything() to extract data from just about any data type including: excel, csv ,txt, and even html.

to_datatype("filename") is the inverse and writes to a csv

In [1]:
import pandas as pd
import numpy as np

In [3]:
import requests
html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [5]:
r = requests.get(html_url)
wiki_tables= pd.read_html(r.text,header = 0)

In [7]:
simpsons = wiki_tables[1]
simpsons.head()

   Season Season.1  ...          Viewership.1             Viewership.2
0  Season   Season  ...  Most watched episode     Most watched episode
1  Season   Season  ...     Viewers(millions)            Episode Title
2       1  1989–90  ...                  33.5  "Life on the Fast Lane"
3       2  1990–91  ...                  33.6         "Bart Gets an F"
4       3  1991–92  ...                  25.5          "Colonel Homer"

[5 rows x 9 columns]

##Matplotlib
basically ggplot in R lmao

Can either do global api, weird, why would you do that

local api, like R, makes sense

Useful code can be found at:
https://github.com/ine-rmotr-curriculum/data-cleaning-rmotr-freecodecamp