<a href="https://colab.research.google.com/github/kellisfm/100_days_of_code_challange/blob/master/demographic_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###census data analysis

FCC pythonic data analysis project 2

using pandas and numpy perform a variety of tasks on the data in adult.data.csv

By Kai Ellis, sept 24, 2020

In [137]:
## importing pandas and using the upload files functionality of google colab to get a desktop csv imported
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving adult.data.csv to adult.data (1).csv

In [138]:
#read the csv
import io
df = pd.read_csv(io.BytesIO(uploaded['adult.data.csv']))# Dataset is now stored in a Pandas Dataframe

In [139]:
#make sure its imported properly
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
 #generate a series of the total counts for each of the races in the census
 x= pd.Series(df.race.value_counts())
 type(x)

pandas.core.series.Series

In [18]:
#generate a subdatabase of the men and find the mean age to one decimal point
mendf = df[df["sex"] == "Male"]
round(mendf["age"].mean(),1)

39.4

In [24]:
#find the percentage of censusdoers with a bachelors degree
bach = sum(df["education"] == "Bachelors")

print(bach/len(df.education))

0.16446055096587942

In [178]:
#group by higher and lower education and find how many of each group are earning high wages
HE = df[df.education.isin(["Bachelors","Masters","Doctorate"])]
NHE = df[~df.education.isin(["Bachelors","Masters","Doctorate"]) ]
print( round( (sum(HE.salary==">50K")/len(HE.salary)*100),1 ) )
print( round( (sum(NHE.salary==">50K")/len(NHE.salary)*100),1 ) )

46.5
17.4

In [182]:
#find the minimum number of hours per week people are working, and determine how many of those low workers are high earners
print(df[df["hours-per-week"] == df["hours-per-week"].min()])
num_min_workers = len(min_work_hours["hours-per-week"])
print(round((sum(min_work_hours["salary"] == ">50K"))/num_min_workers*100,1))

       age         workclass  fnlwgt  ... hours-per-week  native-country salary
189     58         State-gov  109567  ...              1   United-States   >50K
1036    66      Self-emp-inc  150726  ...              1               ?  <=50K
1262    69                 ?  195779  ...              1   United-States  <=50K
5590    78                 ?  363134  ...              1   United-States  <=50K
5632    45                 ?  189564  ...              1   United-States  <=50K
5766    62                 ?   97231  ...              1   United-States  <=50K
5808    76                 ?  211574  ...              1   United-States  <=50K
8447    67                 ?  244122  ...              1   United-States  <=50K
9147    75                 ?  260543  ...              1           China  <=50K
11451   27           Private  147951  ...              1   United-States  <=50K
19337   72                 ?   76860  ...              1   United-States  <=50K
19750   23           Private   72887  ...              1         Vietnam  <=50K
20072   65                 ?   76043  ...              1   United-States   >50K
20909   77  Self-emp-not-inc   71676  ...              1   United-States  <=50K
22960   21           Private  184135  ...              1   United-States  <=50K
23536   69                 ?  320280  ...              1   United-States  <=50K
24284   57  Self-emp-not-inc   56480  ...              1   United-States  <=50K
25078   74           Private  260669  ...              1   United-States  <=50K
29752   69                 ?  117525  ...              1   United-States  <=50K
32525   81                 ?  120478  ...              1               ?  <=50K

[20 rows x 15 columns]
10.0

In [170]:
#find the country with the highest average wage, print both the country and percentage of high earners
highestwage = df.groupby('native-country').salary.apply(lambda x: (x == '>50K').mean()) #the lambda in here is a mini function, in this case extracting the salaries which are high
highestcountry = highestwage.idxmax()
highestpercent = round((highestwage.max()*100),1)
highestpercent
highestcountry



#percents[percents["salary"] == ">50K"].head()

'Iran'

In [177]:
#find the highest earning occupation in india
india = df[(df['native-country'] == "India")&(df['salary']==">50K")]
india.head()
india.occupation.value_counts().idxmax()

'Prof-specialty'